figcaption {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background: #ffffff;
  height: 35px;
  z-index: 100;
}

.App {
  text-align: center;
}

.content {
  padding-top: 11rem;
}

.fixed-header {
  position: fixed;
  background: #ffffff;
  z-index: 300;

  @media (min-width: 750px){
    border-bottom: 1px solid #e1e1e1;
  }
}

.header-nav {
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 7rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 200;
  transition: transform 300ms linear;

  &.hidden {
    transform: translate3d(-55vw, 0, 0);

    @media (min-width: 750px){
      transform: translate3d(0vw, 0, 0);
    }
  }

  &.show {
    transform: translate3d(0vw, 0, 0);
  }

  @media (min-width: 750px){
    top: 3rem;
    background: transparent;
    left: 0;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: center;
  }
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.mobile-menu {
  @media (min-width: 750px){
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 300;
}

.modal-image-container {
  width: 80%;
  margin: 3rem auto 0 auto;
  @media (min-width: 750px){
    width: 60%;
    margin-top: 4rem;
  }
  @media (min-width: 1000px){
    width: 50%;
  }
}

.modal-image-container-port {
  width: 60%;
  margin: 2rem auto 0 auto;
  @media (min-width: 750px){
    width: 35%;
    margin-top: 3rem;
  }
  @media (min-width: 1000px){
    width: 25%;
  }
}

.modal-text {
  color: #ffffff;
}

.non-border {
  border: none;
  margin: 0;
}

.showcaseContainer {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;

  .image-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 2% 2%;
    @media (min-width: 550px) {
    }

    @media (min-width: 750px) {
      width: 260px;
      height: 190px;
    }

    @media (min-width: 1000px) {
      width: 210px;
      height: 170px;
    }

    @media (min-width: 1200px) {
      width: 245px;
      height: 200px;
    }
  }

  .image-container-port {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 0 2% 2%;
    @media (min-width: 550px) {
      width: 200px;
    }
    @media (min-width: 750px) {
      width: 160px;
    }
    @media (min-width: 1000px) {
      width: 210px;
    }
    @media (min-width: 1200px) {
      width: 180px;
    }
  }
}

.side-nav {
  list-style: none;
}