figcaption {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background: #ffffff;
  height: 35px;
  z-index: 100; }

.fixed {
  position: fixed;
  bottom: 1rem; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 300; }

.modal-image-container {
  width: 80%;
  margin: 3rem auto 0 auto; }
  @media (min-width: 750px) {
    .modal-image-container {
      width: 60%;
      margin-top: 4rem; } }
  @media (min-width: 1000px) {
    .modal-image-container {
      width: 50%; } }

.modal-image-container-port {
  width: 60%;
  margin: 2rem auto 0 auto; }
  @media (min-width: 750px) {
    .modal-image-container-port {
      width: 35%;
      margin-top: 3rem; } }
  @media (min-width: 1000px) {
    .modal-image-container-port {
      width: 25%; } }

.modal-text {
  color: #ffffff; }

.non-border {
  border: none;
  margin: 0; }

.showcaseContainer {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap; }
  .showcaseContainer .image-container {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0 2% 2%; }
    @media (min-width: 750px) {
      .showcaseContainer .image-container {
        width: 260px;
        height: 190px; } }
    @media (min-width: 1000px) {
      .showcaseContainer .image-container {
        width: 210px;
        height: 170px; } }
    @media (min-width: 1200px) {
      .showcaseContainer .image-container {
        width: 245px;
        height: 200px; } }
  .showcaseContainer .image-container-port {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 0 2% 2%; }
    @media (min-width: 550px) {
      .showcaseContainer .image-container-port {
        width: 200px; } }
    @media (min-width: 750px) {
      .showcaseContainer .image-container-port {
        width: 160px; } }
    @media (min-width: 1000px) {
      .showcaseContainer .image-container-port {
        width: 210px; } }
    @media (min-width: 1200px) {
      .showcaseContainer .image-container-port {
        width: 180px; } }

.side-nav {
  list-style: none; }
